.Layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.Header {
    background-color: #202329;
    color: #e4e4e4;
}

.Wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: inherit;
    font-weight: bold;

    svg {
        width: 40px;
        height: 40px;
        color: inherit;
    }
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    color: inherit;
    overflow-y: hidden;

    a {
        color: inherit;
        font-weight: bold;
        padding: 0.5rem 1rem;

        &:hover {
            color: #faa331;
        }

        &:nth-child(3) {
            border: 1px solid #faa331;
            border-radius: 10px;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }
}

.Main {
    display: grid;
    place-items: center;

    div {
        text-align: center;
    }
}

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    background-color: #202329;
    color: white;
    padding: 2rem 0;

    a {
        color: inherit;
    }
}

.ServerStatus {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    svg {
        color: red;
    }
}

.DeploysAndPowered {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.SocialNetworks {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    svg {
        font-size: 1.5rem;
    }
}

.Copyright {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    span {
        font-weight: 300;

        &:nth-child(1) {
            a {
                font-weight: bold;
            }
        }
    }
}
